.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.eslintrc.json
eslint.config.mjs
tsconfig.json
**/*.ts
**/*.map
node_modules/**
exampleFiles/**
bin/
documentation/**
media/icon.svg
.DS_Store
*.vsix
release.config.cjs
prepare-release.js